{% extends "base.html" %}

{% block content %}
    <h2>Questions and Answers for Human Resources Survey</h2>
    <h3>Lets start: <a href="/question?question_code=Q_00">Click here</a></h3>
    {% for hrq in hrq_data %}
        {% if hrq != 'Q_00'  %}
            <div><p>Q:[{{ hrq_data[hrq]['q_text'] }}]</p></div>
                {% for answer in hrq_data[hrq]['answers'] %}
                    <div><p>---> answer:[{{ hrq_data[hrq]['answers'][answer]['a_text'] }}]</p></div>
                {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}